/* libre-baskerville-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/libre-baskerville-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/libre-baskerville-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/libre-baskerville-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/libre-baskerville-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/libre-baskerville-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/libre-baskerville-v14-latin-regular.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
  }
  /* libre-baskerville-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/libre-baskerville-v14-latin-italic.eot'); /* IE9 Compat Modes */
    src: url('/fonts/libre-baskerville-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/libre-baskerville-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/libre-baskerville-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('/fonts/libre-baskerville-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/libre-baskerville-v14-latin-italic.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
  }
  /* libre-baskerville-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/libre-baskerville-v14-latin-700.eot'); /* IE9 Compat Modes */
    src: url('/fonts/libre-baskerville-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/libre-baskerville-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/libre-baskerville-v14-latin-700.woff') format('woff'), /* Modern Browsers */
         url('/fonts/libre-baskerville-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/libre-baskerville-v14-latin-700.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
  }


  /* oxygen-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/oxygen-v15-latin-300.eot'); /* IE9 Compat Modes */
    src: url('/fonts/oxygen-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/oxygen-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/oxygen-v15-latin-300.woff') format('woff'), /* Modern Browsers */
         url('/fonts/oxygen-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/oxygen-v15-latin-300.svg#Oxygen') format('svg'); /* Legacy iOS */
  }
  /* oxygen-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/oxygen-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/oxygen-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/oxygen-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/oxygen-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/oxygen-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/oxygen-v15-latin-regular.svg#Oxygen') format('svg'); /* Legacy iOS */
  }
  /* oxygen-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/oxygen-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: url('/fonts/oxygen-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/oxygen-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/oxygen-v15-latin-700.woff') format('woff'), /* Modern Browsers */
         url('/fonts/oxygen-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/oxygen-v15-latin-700.svg#Oxygen') format('svg'); /* Legacy iOS */
  }